In [1]:
import pandas as pd# 판다스 호출

import numpy as np#넘파이 호출
import os#os 호출
from glob import glob# glob 호출

In [2]:
data_1=pd.DataFrame()
data_2=pd.DataFrame()
data_3=pd.DataFrame()
data_4=pd.DataFrame()
#하나의 데이터프레임으로 묶기에 각 파일이 커서 데이터 프레임을 4개로 만들어 4개의 데이터 프레임을 합친다

In [3]:
files=glob('C:/Users/user/Desktop/11월/*.csv')
files
#합칠 csv를 호출한다

['C:/Users/user/Desktop/11월\\LOCAL_PEOPLE_20201101.csv',
 'C:/Users/user/Desktop/11월\\LOCAL_PEOPLE_20201102.csv',
 'C:/Users/user/Desktop/11월\\LOCAL_PEOPLE_20201103.csv',
 'C:/Users/user/Desktop/11월\\LOCAL_PEOPLE_20201104.csv',
 'C:/Users/user/Desktop/11월\\LOCAL_PEOPLE_20201105.csv',
 'C:/Users/user/Desktop/11월\\LOCAL_PEOPLE_20201106.csv',
 'C:/Users/user/Desktop/11월\\LOCAL_PEOPLE_20201107.csv',
 'C:/Users/user/Desktop/11월\\LOCAL_PEOPLE_20201108.csv',
 'C:/Users/user/Desktop/11월\\LOCAL_PEOPLE_20201109.csv',
 'C:/Users/user/Desktop/11월\\LOCAL_PEOPLE_20201110.csv',
 'C:/Users/user/Desktop/11월\\LOCAL_PEOPLE_20201111.csv',
 'C:/Users/user/Desktop/11월\\LOCAL_PEOPLE_20201112.csv',
 'C:/Users/user/Desktop/11월\\LOCAL_PEOPLE_20201113.csv',
 'C:/Users/user/Desktop/11월\\LOCAL_PEOPLE_20201114.csv',
 'C:/Users/user/Desktop/11월\\LOCAL_PEOPLE_20201115.csv',
 'C:/Users/user/Desktop/11월\\LOCAL_PEOPLE_20201116.csv',
 'C:/Users/user/Desktop/11월\\LOCAL_PEOPLE_20201117.csv',
 'C:/Users/user/Desktop/11월\\LOCAL_PEOPLE_20201118.csv',
 'C:/Users/user/Desktop/11월\\LOCAL_PEOPLE_20201119.csv',
 'C:/Users/user/Desktop/11월\\LOCAL_PEOPLE_20201120.csv',
 'C:/Users/user/Desktop/11월\\LOCAL_PEOPLE_20201121.csv',
 'C:/Users/user/Desktop/11월\\LOCAL_PEOPLE_20201122.csv',
 'C:/Users/user/Desktop/11월\\LOCAL_PEOPLE_20201123.csv',
 'C:/Users/user/Desktop/11월\\LOCAL_PEOPLE_20201124.csv',
 'C:/Users/user/Desktop/11월\\LOCAL_PEOPLE_20201125.csv',
 'C:/Users/user/Desktop/11월\\LOCAL_PEOPLE_20201126.csv',
 'C:/Users/user/Desktop/11월\\LOCAL_PEOPLE_20201127.csv',
 'C:/Users/user/Desktop/11월\\LOCAL_PEOPLE_20201128.csv',
 'C:/Users/user/Desktop/11월\\LOCAL_PEOPLE_20201129.csv',
 'C:/Users/user/Desktop/11월\\LOCAL_PEOPLE_20201130.csv']

In [4]:
cd C:/Users/user/Desktop/11월
# 합칠 csv파일의 디렉토리로 이동한다

C:\Users\user\Desktop\11월

In [5]:
files[19]

'C:/Users/user/Desktop/11월\\LOCAL_PEOPLE_20201120.csv'

In [6]:
file1=files[:15]
file2=files[15:24]
file3=files[24:27]
file4=files[27:]
#전체 파일을 슬라이싱하여 4개로 나누어 합치기 위해 나눈다

In [7]:
for i in file1:
    path=i
    add=pd.read_csv(path,encoding='cp949')
    data_1=pd.concat([data_1,add])
#data_1과 1~14까지의 파일을 합친다

In [8]:
for i in file2:
    path=i
    add=pd.read_csv(path,encoding='cp949')
    data_2=pd.concat([data_2,add])
#data_2와 15~23의 파일을 합친다

In [9]:
for i in file3:
    path=i
    add=pd.read_csv(path,encoding='cp949')
    data_3=pd.concat([data_3,add])
#data_3와 24~26의 파일을 합친다

In [10]:
for i in file4:
    path=i
    add=pd.read_csv(path,encoding='cp949')
    data_4=pd.concat([data_4,add])
#data_4와 나머지의 파일을 합친다

In [11]:
data_1=data_1.replace("*",0)
#데이터1의 결측값을 0으로 대체

In [12]:
data_2=data_2.replace("*",0)
#데이터2의 결측값을 0으로 대체

In [13]:
data_3=data_3.replace("*",0)
data_4=data_4.replace("*",0)
#데이터3와4의 결측값을 0으로 대체

In [14]:
data_com1=pd.concat([data_1,data_2])
#data1과data2를 합친다

In [15]:
data_com2=pd.concat([data_3,data_4])
#data3과data4를 합친다

In [16]:
data=pd.concat([data_com1,data_com2])
#최종적으로 두데이터를 합쳐 총 하나의 월데이터를 만든다

In [17]:
data.head()#데이터 확인

,"?""기준일ID""",시간대구분,행정동코드,집계구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,...,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,기준일ID
0,20201101.0,0,11110515,1101072010001,508.1686,25.5182,16.2603,21.5532,18.8104,21.1558,...,16.7164,17.9378,28.8777,29.0032,26.37,22.7787,10.7648,9.4597,32.843,NaN
1,20201101.0,0,11110515,1101072010002,799.9027,28.2966,18.0306,21.0072,20.2751,34.3375,...,31.8347,34.7911,28.4964,44.323,29.0273,27.6337,30.0391,13.6436,75.1758,NaN
2,20201101.0,0,11110515,1101072010003,503.3923,33.9685,21.6448,29.1582,17.2546,12.102,...,15.5029,14.9681,22.623,23.0088,15.6395,14.4644,7.863,10.0043,49.8421,NaN
3,20201101.0,0,11110515,1101072010004,240.7788,12.0973,7.7084,8.2987,5.5018,9.5871,...,8.8227,12.7736,11.6599,7.2304,5.0043,9.4766,12.3728,0,12.1483,NaN
4,20201101.0,0,11110515,1101072010005,557.8979,35.6212,22.6979,30.5451,19.6565,15.7057,...,17.432,17.1138,27.1278,27.3428,20.421,18.1101,8.926,10.8949,50.4725,NaN

In [18]:
data1=data.iloc[:,1:]#?"기준일ID" 제거

In [19]:
data1.shape

(13789664, 33)

In [20]:
data1.head()#데이터 확인

,시간대구분,행정동코드,집계구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,기준일ID
0,0,11110515,1101072010001,508.1686,25.5182,16.2603,21.5532,18.8104,21.1558,18.364,...,16.7164,17.9378,28.8777,29.0032,26.37,22.7787,10.7648,9.4597,32.843,NaN
1,0,11110515,1101072010002,799.9027,28.2966,18.0306,21.0072,20.2751,34.3375,29.0928,...,31.8347,34.7911,28.4964,44.323,29.0273,27.6337,30.0391,13.6436,75.1758,NaN
2,0,11110515,1101072010003,503.3923,33.9685,21.6448,29.1582,17.2546,12.102,5.6619,...,15.5029,14.9681,22.623,23.0088,15.6395,14.4644,7.863,10.0043,49.8421,NaN
3,0,11110515,1101072010004,240.7788,12.0973,7.7084,8.2987,5.5018,9.5871,9.6585,...,8.8227,12.7736,11.6599,7.2304,5.0043,9.4766,12.3728,0,12.1483,NaN
4,0,11110515,1101072010005,557.8979,35.6212,22.6979,30.5451,19.6565,15.7057,9.4683,...,17.432,17.1138,27.1278,27.3428,20.421,18.1101,8.926,10.8949,50.4725,NaN

In [21]:
주간야간=[]#6~18시를 주간 19~5시를 야간 시간대를 주간야간으로 구분
for i in data1['시간대구분']:
    if i>=6 and i<=18:
        주간야간.append("주간")
    else:
        주간야간.append("야간")

In [22]:
data1["행정동코드"]=data1["행정동코드"].astype('str')+'00'
#다른 행정동코드와 비교했을 때 00이 없었으므로 00추가

In [23]:
data1['월']=11#월이 11일이기 때문에 11로 설정 해당월에 해당하는 월 기입

In [24]:
data2=data1.astype('float64')# 그룹바이 사용위해 실수형으로 설정

In [25]:
data2["주간야간"]=주간야간# 시간대를 주간야간으로 설정하기 위해

In [26]:
data4=data2.groupby(['집계구코드','주간야간','월']).mean()#집계구별 주간야간의 월별 인구수 평균

In [27]:
data4

                            시간대구분         행정동코드       총생활인구수  남자0세부터9세생활인구수  \
집계구코드        주간야간 월
1.101053e+12 야간   11.0  10.909091  1.111053e+09   392.535261      20.256175
             주간   11.0  12.000000  1.111053e+09   384.147436      22.358872
             야간   11.0  10.909091  1.111053e+09  1788.460914      62.218469
             주간   11.0  12.000000  1.111053e+09  1906.888173      59.522841
             야간   11.0  10.909091  1.111053e+09  1425.005132      53.926633
...                           ...           ...          ...            ...
1.125074e+12 주간   11.0  12.000000  1.174068e+09   537.266453      12.474981
             야간   11.0  10.909091  1.174068e+09   483.447625      12.257178
             주간   11.0  12.000000  1.174068e+09   252.989806       5.472983
             야간   11.0  10.909091  1.174068e+09   127.886981       4.432263
             주간   11.0  12.000000  1.174068e+09    80.616575       1.943910

                        남자10세부터14세생활인구수  남자15세부터19세생활인구수  남자20세부터24세생활인구수  \
집계구코드        주간야간 월
1.101053e+12 야간   11.0         8.982057        10.008163         6.862031
             주간   11.0         9.937277        10.748656         7.932555
             야간   11.0        27.652654        40.694863        58.633463
             주간   11.0        26.454599        39.383187        55.996016
             야간   11.0        23.967389        32.075309        40.128467
...                                 ...              ...              ...
1.125074e+12 주간   11.0         5.387457         8.355221        13.981598
             야간   11.0         5.549377         9.518941        12.127478
             주간   11.0         1.569967         2.983184         6.109418
             야간   11.0         0.898295         0.997387         2.867665
             주간   11.0         0.192002         0.169749         0.825762

                        남자25세부터29세생활인구수  남자30세부터34세생활인구수  남자35세부터39세생활인구수  \
집계구코드        주간야간 월
1.101053e+12 야간   11.0         9.168224         7.552870        13.610623
             주간   11.0         8.188125         7.304298        12.837268
             야간   11.0        57.534064        52.561378        77.730783
             주간   11.0        61.664522        60.620248        79.126084
             야간   11.0        40.682750        38.396660        56.326625
...                                 ...              ...              ...
1.125074e+12 주간   11.0        21.992634        24.546112        25.989313
             야간   11.0        20.072922        25.663701        24.104023
             주간   11.0         9.999584        11.740287        11.972176
             야간   11.0         3.570481         3.592511         5.818283
             주간   11.0         1.279329         1.211657         2.335647

                        ...  여자30세부터34세생활인구수  여자35세부터39세생활인구수  \
집계구코드        주간야간 월     ...
1.101053e+12 야간   11.0  ...        12.104233        18.904067
             주간   11.0  ...        11.362701        18.762126
             야간   11.0  ...        77.525517        81.281677
             주간   11.0  ...        80.366876        85.990262
             야간   11.0  ...        53.406493        69.913118
...                     ...              ...              ...
1.125074e+12 주간   11.0  ...        28.427199        26.667122
             야간   11.0  ...        26.080229        25.132620
             주간   11.0  ...        13.387379        12.536541
             야간   11.0  ...         3.578614         2.836859
             주간   11.0  ...         0.982172         0.900761

                        여자40세부터44세생활인구수  여자45세부터49세생활인구수  여자50세부터54세생활인구수  \
집계구코드        주간야간 월
1.101053e+12 야간   11.0        16.161885        21.385573        16.347304
             주간   11.0        15.132728        20.247431        15.133601
             야간   11.0        72.271988        90.278254        69.131518
             주간   11.0        79.122790        92.746624        74.732418
             야간   11.0        63.688948        78.029331        58.977570
...                                 ...              ...              ...
1.125074e+12 주간   11.0        21.881535        21.309095        17.012511
             야간   11.0        18.000548        18.986780        14.445994
             주간   11.0        10.271907         9.960668         7.688694
             야간   11.0         2.084050         3.736241         5.533028
             주간   11.0         0.553525         1.947297         2.528719

                        여자55세부터59세생활인구수  여자60세부터64세생활인구수  여자65세부터69세생활인구수  \
집계구코드        주간야간 월
1.101053e+12 야간   11.0        14.387768        12.386169        10.413919
             주간   11.0        13.992376        12.447217        10.444492
             야간   11.0        81.616948        59.437148        41.550322
             주간   11.0        81.553299        65.176695        43.785564
             야간   11.0        61.922045        49.488265        33.402538
...                                 ...              ...              ...
1.125074e+12 주간   11.0        22.194944        18.113021        14.466512
             야간   11.0        20.589475        15.151112        10.475412
             주간   11.0         9.888805         8.038005         6.398878
             야간   11.0         4.843174         4.322028         3.682772
             주간   11.0         1.914943         1.551924         1.094549

                        여자70세이상생활인구수       기준일ID
집계구코드        주간야간 월
1.101053e+12 야간   11.0     33.202274  20201126.0
             주간   11.0     33.567138  20201126.0
             야간   11.0    134.250441  20201126.0
             주간   11.0    136.608623  20201126.0
             야간   11.0    112.258062  20201126.0
...                              ...         ...
1.125074e+12 주간   11.0     42.450588  20201126.0
             야간   11.0     34.496914  20201126.0
             주간   11.0     19.941491  20201126.0
             야간   11.0      8.982459  20201126.0
             주간   11.0      5.385709  20201126.0

[38306 rows x 32 columns]

In [28]:
data4.reset_index(inplace=True)#인덱스 설정

In [29]:
data4

,집계구코드,주간야간,월,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,...,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,기준일ID
0,1.101053e+12,야간,11.0,10.909091,1.111053e+09,392.535261,20.256175,8.982057,10.008163,6.862031,...,12.104233,18.904067,16.161885,21.385573,16.347304,14.387768,12.386169,10.413919,33.202274,20201126.0
1,1.101053e+12,주간,11.0,12.000000,1.111053e+09,384.147436,22.358872,9.937277,10.748656,7.932555,...,11.362701,18.762126,15.132728,20.247431,15.133601,13.992376,12.447217,10.444492,33.567138,20201126.0
2,1.101053e+12,야간,11.0,10.909091,1.111053e+09,1788.460914,62.218469,27.652654,40.694863,58.633463,...,77.525517,81.281677,72.271988,90.278254,69.131518,81.616948,59.437148,41.550322,134.250441,20201126.0
3,1.101053e+12,주간,11.0,12.000000,1.111053e+09,1906.888173,59.522841,26.454599,39.383187,55.996016,...,80.366876,85.990262,79.122790,92.746624,74.732418,81.553299,65.176695,43.785564,136.608623,20201126.0
4,1.101053e+12,야간,11.0,10.909091,1.111053e+09,1425.005132,53.926633,23.967389,32.075309,40.128467,...,53.406493,69.913118,63.688948,78.029331,58.977570,61.922045,49.488265,33.402538,112.258062,20201126.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38301,1.125074e+12,주간,11.0,12.000000,1.174068e+09,537.266453,12.474981,5.387457,8.355221,13.981598,...,28.427199,26.667122,21.881535,21.309095,17.012511,22.194944,18.113021,14.466512,42.450588,20201126.0
38302,1.125074e+12,야간,11.0,10.909091,1.174068e+09,483.447625,12.257178,5.549377,9.518941,12.127478,...,26.080229,25.132620,18.000548,18.986780,14.445994,20.589475,15.151112,10.475412,34.496914,20201126.0
38303,1.125074e+12,주간,11.0,12.000000,1.174068e+09,252.989806,5.472983,1.569967,2.983184,6.109418,...,13.387379,12.536541,10.271907,9.960668,7.688694,9.888805,8.038005,6.398878,19.941491,20201126.0
38304,1.125074e+12,야간,11.0,10.909091,1.174068e+09,127.886981,4.432263,0.898295,0.997387,2.867665,...,3.578614,2.836859,2.084050,3.736241,5.533028,4.843174,4.322028,3.682772,8.982459,20201126.0
38305,1.125074e+12,주간,11.0,12.000000,1.174068e+09,80.616575,1.943910,0.192002,0.169749,0.825762,...,0.982172,0.900761,0.553525,1.947297,2.528719,1.914943,1.551924,1.094549,5.385709,20201126.0

In [30]:
data4=data4.drop(['시간대구분'],axis=1)#주간야간으로 인해 시간대 데이터 제거

In [31]:
data4["남자 10대 인구수"]=data4["남자10세부터14세생활인구수"]+data4["남자15세부터19세생활인구수"]+data4["남자0세부터9세생활인구수"]
data4["남자 20대 인구수"]=data4["남자20세부터24세생활인구수"]+data4["남자25세부터29세생활인구수"]
data4["남자 30대 인구수"]=data4["남자30세부터34세생활인구수"]+data4["남자35세부터39세생활인구수"]
data4["남자 40대 인구수"]=data4["남자40세부터44세생활인구수"]+data4["남자45세부터49세생활인구수"]
data4["남자 50대 인구수"]=data4["남자50세부터54세생활인구수"]+data4["남자55세부터59세생활인구수"]
data4["남자 60대 인구수"]=data4["남자60세부터64세생활인구수"]+data4["남자65세부터69세생활인구수"]
data4["남자 70대 이상 인구수"]=data4["남자70세이상생활인구수"]

#인원수를 10대단위로 해당하기 위해 대체하였습니다

In [32]:
data4["여자 10대 인구수"]=data4["여자10세부터14세생활인구수"]+data4["여자15세부터19세생활인구수"]+data4["여자0세부터9세생활인구수"]
data4["여자 20대 인구수"]=data4["여자20세부터24세생활인구수"]+data4["여자25세부터29세생활인구수"]
data4["여자 30대 인구수"]=data4["여자30세부터34세생활인구수"]+data4["여자35세부터39세생활인구수"]
data4["여자 40대 인구수"]=data4["여자40세부터44세생활인구수"]+data4["여자45세부터49세생활인구수"]
data4["여자 50대 인구수"]=data4["여자50세부터54세생활인구수"]+data4["여자55세부터59세생활인구수"]
data4["여자 60대 인구수"]=data4["여자60세부터64세생활인구수"]+data4["여자65세부터69세생활인구수"]
data4["여자 70대 이상 인구수"]=data4["여자70세이상생활인구수"]

#인원수를 10대단위로 해당하기 위해 대체하였습니다

In [33]:
data4.head()

,집계구코드,주간야간,월,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,...,남자 50대 인구수,남자 60대 인구수,남자 70대 이상 인구수,여자 10대 인구수,여자 20대 인구수,여자 30대 인구수,여자 40대 인구수,여자 50대 인구수,여자 60대 인구수,여자 70대 이상 인구수
0,1.101053e+12,야간,11.0,1.111053e+09,392.535261,20.256175,8.982057,10.008163,6.862031,9.168224,...,24.012146,18.997986,23.168968,21.317932,22.991880,31.008299,37.547458,30.735072,22.800089,33.202274
1,1.101053e+12,주간,11.0,1.111053e+09,384.147436,22.358872,9.937277,10.748656,7.932555,8.188125,...,21.203022,17.288180,24.224904,21.006087,23.494782,30.124827,35.380159,29.125977,22.891709,33.567138
2,1.101053e+12,야간,11.0,1.111053e+09,1788.460914,62.218469,27.652654,40.694863,58.633463,57.534064,...,130.412362,90.452762,71.224211,80.496584,113.559682,158.807194,162.550242,150.748466,100.987469,134.250441
3,1.101053e+12,주간,11.0,1.111053e+09,1906.888173,59.522841,26.454599,39.383187,55.996016,61.664522,...,130.309119,91.266223,74.360666,114.714338,140.669539,166.357137,171.869414,156.285718,108.962259,136.608623
4,1.101053e+12,야간,11.0,1.111053e+09,1425.005132,53.926633,23.967389,32.075309,40.128467,40.682750,...,96.065895,70.394570,62.291216,65.695255,87.610781,123.319611,141.718279,120.899615,82.890803,112.258062

In [34]:
data4.shape#행 열 개수 확인

(38306, 48)

In [35]:
data4=data4.drop(["남자0세부터9세생활인구수","남자10세부터14세생활인구수","남자15세부터19세생활인구수","남자20세부터24세생활인구수","남자25세부터29세생활인구수","남자30세부터34세생활인구수","남자35세부터39세생활인구수","남자40세부터44세생활인구수","남자45세부터49세생활인구수","남자50세부터54세생활인구수","남자55세부터59세생활인구수","남자60세부터64세생활인구수","남자65세부터69세생활인구수","남자70세이상생활인구수"],axis=1)
data4=data4.drop(["여자0세부터9세생활인구수","여자10세부터14세생활인구수","여자15세부터19세생활인구수","여자20세부터24세생활인구수","여자25세부터29세생활인구수","여자30세부터34세생활인구수","여자35세부터39세생활인구수","여자40세부터44세생활인구수","여자45세부터49세생활인구수","여자50세부터54세생활인구수","여자55세부터59세생활인구수","여자60세부터64세생활인구수","여자65세부터69세생활인구수","여자70세이상생활인구수"],axis=1)
#중복된 컬럼 제거

In [36]:
data4.head()

,집계구코드,주간야간,월,행정동코드,총생활인구수,기준일ID,남자 10대 인구수,남자 20대 인구수,남자 30대 인구수,남자 40대 인구수,남자 50대 인구수,남자 60대 인구수,남자 70대 이상 인구수,여자 10대 인구수,여자 20대 인구수,여자 30대 인구수,여자 40대 인구수,여자 50대 인구수,여자 60대 인구수,여자 70대 이상 인구수
0,1.101053e+12,야간,11.0,1.111053e+09,392.535261,20201126.0,18.990220,16.030255,21.163492,33.177623,24.012146,18.997986,23.168968,21.317932,22.991880,31.008299,37.547458,30.735072,22.800089,33.202274
1,1.101053e+12,주간,11.0,1.111053e+09,384.147436,20201126.0,20.685933,16.120680,20.141566,28.763975,21.203022,17.288180,24.224904,21.006087,23.494782,30.124827,35.380159,29.125977,22.891709,33.567138
2,1.101053e+12,야간,11.0,1.111053e+09,1788.460914,20201126.0,68.347518,116.167527,130.292161,153.351901,130.412362,90.452762,71.224211,80.496584,113.559682,158.807194,162.550242,150.748466,100.987469,134.250441
3,1.101053e+12,주간,11.0,1.111053e+09,1906.888173,20201126.0,65.837786,117.660538,139.746332,158.796887,130.309119,91.266223,74.360666,114.714338,140.669539,166.357137,171.869414,156.285718,108.962259,136.608623
4,1.101053e+12,야간,11.0,1.111053e+09,1425.005132,20201126.0,56.042698,80.811218,94.723285,121.444435,96.065895,70.394570,62.291216,65.695255,87.610781,123.319611,141.718279,120.899615,82.890803,112.258062

In [37]:
data4.reset_index(inplace=True)#데이터 인덱스 설정

In [38]:
data4#데이터 확인

,index,집계구코드,주간야간,월,행정동코드,총생활인구수,기준일ID,남자 10대 인구수,남자 20대 인구수,남자 30대 인구수,...,남자 50대 인구수,남자 60대 인구수,남자 70대 이상 인구수,여자 10대 인구수,여자 20대 인구수,여자 30대 인구수,여자 40대 인구수,여자 50대 인구수,여자 60대 인구수,여자 70대 이상 인구수
0,0,1.101053e+12,야간,11.0,1.111053e+09,392.535261,20201126.0,18.990220,16.030255,21.163492,...,24.012146,18.997986,23.168968,21.317932,22.991880,31.008299,37.547458,30.735072,22.800089,33.202274
1,1,1.101053e+12,주간,11.0,1.111053e+09,384.147436,20201126.0,20.685933,16.120680,20.141566,...,21.203022,17.288180,24.224904,21.006087,23.494782,30.124827,35.380159,29.125977,22.891709,33.567138
2,2,1.101053e+12,야간,11.0,1.111053e+09,1788.460914,20201126.0,68.347518,116.167527,130.292161,...,130.412362,90.452762,71.224211,80.496584,113.559682,158.807194,162.550242,150.748466,100.987469,134.250441
3,3,1.101053e+12,주간,11.0,1.111053e+09,1906.888173,20201126.0,65.837786,117.660538,139.746332,...,130.309119,91.266223,74.360666,114.714338,140.669539,166.357137,171.869414,156.285718,108.962259,136.608623
4,4,1.101053e+12,야간,11.0,1.111053e+09,1425.005132,20201126.0,56.042698,80.811218,94.723285,...,96.065895,70.394570,62.291216,65.695255,87.610781,123.319611,141.718279,120.899615,82.890803,112.258062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38301,38301,1.125074e+12,주간,11.0,1.174068e+09,537.266453,20201126.0,13.742678,35.974232,50.535425,...,35.829325,29.369203,23.455932,17.820758,43.112170,55.094321,43.190629,39.207455,32.579534,42.450588
38302,38302,1.125074e+12,야간,11.0,1.174068e+09,483.447625,20201126.0,15.068317,32.200401,49.767724,...,29.621190,28.762057,21.126869,16.050849,37.154815,51.212849,36.987328,35.035469,25.626524,34.496914
38303,38303,1.125074e+12,주간,11.0,1.174068e+09,252.989806,20201126.0,4.553152,16.109001,23.712463,...,15.793938,12.923046,10.798226,6.820589,18.887556,25.923920,20.232575,17.577499,14.436883,19.941491
38304,38304,1.125074e+12,야간,11.0,1.174068e+09,127.886981,20201126.0,1.895682,6.438146,9.410794,...,6.855072,4.343863,3.508150,2.882561,7.861902,6.415472,5.820291,10.376202,8.004799,8.982459
38305,38305,1.125074e+12,주간,11.0,1.174068e+09,80.616575,20201126.0,0.361751,2.105091,3.547305,...,1.529257,0.726191,1.074076,0.604749,2.484144,1.882932,2.500822,4.443662,2.646473,5.385709

In [39]:
data4["집계구코드"].value_counts()#집계구코드가 정확히 주간야간 월별로 그룹이 되었는지 확인

1.101053e+12    2
1.119056e+12    2
1.119056e+12    2
1.119056e+12    2
1.119056e+12    2
               ..
1.111064e+12    2
1.111064e+12    2
1.111064e+12    2
1.111064e+12    2
1.125074e+12    2
Name: 집계구코드, Length: 19153, dtype: int64

In [40]:
data4.to_csv("11월 주간야간 생활인구수.csv",encoding='cp949')