In [1]:
import pandas as pd# 판다스호출

import numpy as np#넘파이 호출
import os
from glob import glob#글롭 호출

In [3]:
data_1=pd.DataFrame()#데이터프레임 생성

In [4]:
files=glob('C:/Users/user/Desktop/2020년 주간야간/*.csv')
files#20년 월별 생활인구수 파일 호출

['C:/Users/user/Desktop/2020년 주간야간\\10월 주간야간 생활인구수.csv',
 'C:/Users/user/Desktop/2020년 주간야간\\11월 주간야간 생활인구수.csv',
 'C:/Users/user/Desktop/2020년 주간야간\\12월 주간야간 생활인구수.csv',
 'C:/Users/user/Desktop/2020년 주간야간\\1월 주간야간 생활인구수.csv',
 'C:/Users/user/Desktop/2020년 주간야간\\2월 주간야간 생활인구수.csv',
 'C:/Users/user/Desktop/2020년 주간야간\\3월 주간야간 생활인구수.csv',
 'C:/Users/user/Desktop/2020년 주간야간\\4월 주간야간 생활인구수.csv',
 'C:/Users/user/Desktop/2020년 주간야간\\5월 주간야간 생활인구수.csv',
 'C:/Users/user/Desktop/2020년 주간야간\\6월 주간야간 생활인구수.csv',
 'C:/Users/user/Desktop/2020년 주간야간\\7월 주간야간 생활인구수.csv',
 'C:/Users/user/Desktop/2020년 주간야간\\8월 주간야간 생활인구수.csv',
 'C:/Users/user/Desktop/2020년 주간야간\\9월 주간야간 생활인구수.csv']

In [5]:
cd C:/Users/user/Desktop/2020년 주간야간
#디렉토리 변경

C:\Users\user\Desktop\2020년 주간야간

In [6]:
for i in files:
    path=i
    add=pd.read_csv(path,encoding='cp949')
    data_1=pd.concat([data_1,add])
#데이터 합치기

In [7]:
data_1
#데이터 호출

,Unnamed: 0,index,집계구코드,주간야간,월,행정동코드,총생활인구수,남자 10대 인구수,남자 20대 인구수,남자 30대 인구수,...,남자 70대 이상 인구수,여자 10대 인구수,여자 20대 인구수,여자 30대 인구수,여자 40대 인구수,여자 50대 인구수,여자 60대 인구수,여자 70대 이상 인구수,기준일ID,월1
0,0,0.0,1.101053e+12,야간,10.0,1.111053e+09,394.936672,18.396067,16.291733,21.998662,...,23.131448,21.242870,23.960778,29.959827,38.135104,31.470600,22.090927,33.874557,NaN,NaN
1,1,1.0,1.101053e+12,주간,10.0,1.111053e+09,390.247061,20.159205,16.539324,21.503766,...,22.943783,21.477644,24.204228,28.922118,36.117432,30.248885,22.578069,34.117101,NaN,NaN
2,2,2.0,1.101053e+12,야간,10.0,1.111053e+09,1783.916749,65.509938,121.640435,127.650638,...,71.746038,77.553931,119.308436,157.816982,162.709316,149.477308,99.912425,136.244447,NaN,NaN
3,3,3.0,1.101053e+12,주간,10.0,1.111053e+09,1893.640631,64.892528,123.916153,139.781490,...,76.444400,107.715023,145.433505,167.381906,170.024827,156.635581,104.940158,135.095933,NaN,NaN
4,4,4.0,1.101053e+12,야간,10.0,1.111053e+09,1460.703590,55.790155,84.436396,95.096417,...,63.462587,67.071109,93.054941,127.711796,145.778966,123.688139,83.559454,118.735789,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38301,38301,38301.0,1.125074e+12,주간,9.0,1.174068e+09,535.498646,15.753544,33.601223,51.216110,...,21.434468,19.709256,44.147827,54.820699,43.430669,39.777365,32.514387,39.593162,NaN,NaN
38302,38302,38302.0,1.125074e+12,야간,9.0,1.174068e+09,462.480511,15.361365,29.604288,46.019967,...,18.096293,17.019122,37.131235,47.925163,34.670485,34.727397,26.293429,30.192052,NaN,NaN
38303,38303,38303.0,1.125074e+12,주간,9.0,1.174068e+09,250.413446,5.615241,14.476527,23.739430,...,9.693009,8.059472,19.411562,25.532718,19.945946,17.640436,13.905513,18.872032,NaN,NaN
38304,38304,38304.0,1.125074e+12,야간,9.0,1.174068e+09,142.734728,2.855687,6.350134,9.760322,...,3.978351,4.072695,10.082227,9.568373,8.103862,11.619663,9.040742,9.646616,NaN,NaN
38305,38305,38305.0,1.125074e+12,주간,9.0,1.174068e+09,89.742152,0.914004,2.000398,3.629153,...,1.204240,0.612133,2.722522,3.452093,3.364315,4.653867,3.256912,4.776333,NaN,NaN

In [8]:
data_1=data_1.drop(['Unnamed: 0','index'],axis=1)
#데이터 컬럼 제거

In [10]:
data_1.reset_index(inplace=True)
#인덱스 재생성

In [11]:
data_1#데이터 확인

,index,집계구코드,주간야간,월,행정동코드,총생활인구수,남자 10대 인구수,남자 20대 인구수,남자 30대 인구수,남자 40대 인구수,...,남자 70대 이상 인구수,여자 10대 인구수,여자 20대 인구수,여자 30대 인구수,여자 40대 인구수,여자 50대 인구수,여자 60대 인구수,여자 70대 이상 인구수,기준일ID,월1
0,0,1.101053e+12,야간,10.0,1.111053e+09,394.936672,18.396067,16.291733,21.998662,34.193333,...,23.131448,21.242870,23.960778,29.959827,38.135104,31.470600,22.090927,33.874557,NaN,NaN
1,1,1.101053e+12,주간,10.0,1.111053e+09,390.247061,20.159205,16.539324,21.503766,29.797811,...,22.943783,21.477644,24.204228,28.922118,36.117432,30.248885,22.578069,34.117101,NaN,NaN
2,2,1.101053e+12,야간,10.0,1.111053e+09,1783.916749,65.509938,121.640435,127.650638,152.249838,...,71.746038,77.553931,119.308436,157.816982,162.709316,149.477308,99.912425,136.244447,NaN,NaN
3,3,1.101053e+12,주간,10.0,1.111053e+09,1893.640631,64.892528,123.916153,139.781490,156.112265,...,76.444400,107.715023,145.433505,167.381906,170.024827,156.635581,104.940158,135.095933,NaN,NaN
4,4,1.101053e+12,야간,10.0,1.111053e+09,1460.703590,55.790155,84.436396,95.096417,123.921475,...,63.462587,67.071109,93.054941,127.711796,145.778966,123.688139,83.559454,118.735789,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459667,38301,1.125074e+12,주간,9.0,1.174068e+09,535.498646,15.753544,33.601223,51.216110,43.660435,...,21.434468,19.709256,44.147827,54.820699,43.430669,39.777365,32.514387,39.593162,NaN,NaN
459668,38302,1.125074e+12,야간,9.0,1.174068e+09,462.480511,15.361365,29.604288,46.019967,41.499438,...,18.096293,17.019122,37.131235,47.925163,34.670485,34.727397,26.293429,30.192052,NaN,NaN
459669,38303,1.125074e+12,주간,9.0,1.174068e+09,250.413446,5.615241,14.476527,23.739430,20.181002,...,9.693009,8.059472,19.411562,25.532718,19.945946,17.640436,13.905513,18.872032,NaN,NaN
459670,38304,1.125074e+12,야간,9.0,1.174068e+09,142.734728,2.855687,6.350134,9.760322,8.973144,...,3.978351,4.072695,10.082227,9.568373,8.103862,11.619663,9.040742,9.646616,NaN,NaN
459671,38305,1.125074e+12,주간,9.0,1.174068e+09,89.742152,0.914004,2.000398,3.629153,3.149507,...,1.204240,0.612133,2.722522,3.452093,3.364315,4.653867,3.256912,4.776333,NaN,NaN

In [13]:
data_1.drop(['index'],axis=1,inplace=True)
#인덱스 컬럼 제거

In [14]:
data_1#데이터 최종확인

,집계구코드,주간야간,월,행정동코드,총생활인구수,남자 10대 인구수,남자 20대 인구수,남자 30대 인구수,남자 40대 인구수,남자 50대 인구수,...,남자 70대 이상 인구수,여자 10대 인구수,여자 20대 인구수,여자 30대 인구수,여자 40대 인구수,여자 50대 인구수,여자 60대 인구수,여자 70대 이상 인구수,기준일ID,월1
0,1.101053e+12,야간,10.0,1.111053e+09,394.936672,18.396067,16.291733,21.998662,34.193333,23.514870,...,23.131448,21.242870,23.960778,29.959827,38.135104,31.470600,22.090927,33.874557,NaN,NaN
1,1.101053e+12,주간,10.0,1.111053e+09,390.247061,20.159205,16.539324,21.503766,29.797811,21.683408,...,22.943783,21.477644,24.204228,28.922118,36.117432,30.248885,22.578069,34.117101,NaN,NaN
2,1.101053e+12,야간,10.0,1.111053e+09,1783.916749,65.509938,121.640435,127.650638,152.249838,133.979641,...,71.746038,77.553931,119.308436,157.816982,162.709316,149.477308,99.912425,136.244447,NaN,NaN
3,1.101053e+12,주간,10.0,1.111053e+09,1893.640631,64.892528,123.916153,139.781490,156.112265,131.943807,...,76.444400,107.715023,145.433505,167.381906,170.024827,156.635581,104.940158,135.095933,NaN,NaN
4,1.101053e+12,야간,10.0,1.111053e+09,1460.703590,55.790155,84.436396,95.096417,123.921475,100.485752,...,63.462587,67.071109,93.054941,127.711796,145.778966,123.688139,83.559454,118.735789,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459667,1.125074e+12,주간,9.0,1.174068e+09,535.498646,15.753544,33.601223,51.216110,43.660435,32.600353,...,21.434468,19.709256,44.147827,54.820699,43.430669,39.777365,32.514387,39.593162,NaN,NaN
459668,1.125074e+12,야간,9.0,1.174068e+09,462.480511,15.361365,29.604288,46.019967,41.499438,26.586128,...,18.096293,17.019122,37.131235,47.925163,34.670485,34.727397,26.293429,30.192052,NaN,NaN
459669,1.125074e+12,주간,9.0,1.174068e+09,250.413446,5.615241,14.476527,23.739430,20.181002,13.592006,...,9.693009,8.059472,19.411562,25.532718,19.945946,17.640436,13.905513,18.872032,NaN,NaN
459670,1.125074e+12,야간,9.0,1.174068e+09,142.734728,2.855687,6.350134,9.760322,8.973144,8.163765,...,3.978351,4.072695,10.082227,9.568373,8.103862,11.619663,9.040742,9.646616,NaN,NaN
459671,1.125074e+12,주간,9.0,1.174068e+09,89.742152,0.914004,2.000398,3.629153,3.149507,2.721886,...,1.204240,0.612133,2.722522,3.452093,3.364315,4.653867,3.256912,4.776333,NaN,NaN

In [16]:
data2=data_1.groupby(['집계구코드','주간야간']).mean()#각 집계구별 년도별 주간야간 평균 구하기

In [19]:
data2.reset_index(inplace=True)#인덱스 재생성

In [20]:
data2#데이터 확인

,집계구코드,주간야간,월,행정동코드,총생활인구수,남자 10대 인구수,남자 20대 인구수,남자 30대 인구수,남자 40대 인구수,남자 50대 인구수,...,남자 70대 이상 인구수,여자 10대 인구수,여자 20대 인구수,여자 30대 인구수,여자 40대 인구수,여자 50대 인구수,여자 60대 인구수,여자 70대 이상 인구수,기준일ID,월1
0,1.101053e+12,야간,6.5,1.027724e+10,389.993291,17.651912,16.948327,20.821514,32.156600,24.589393,...,20.820726,21.401080,23.932287,29.173498,35.902270,30.221228,23.352751,34.408808,2.020092e+07,12.0
1,1.101053e+12,주간,6.5,1.027724e+10,387.197676,20.158070,17.216618,19.869458,27.754620,21.865475,...,21.085856,23.536100,23.651923,27.952398,34.300946,28.810392,22.810813,35.370672,2.020092e+07,12.0
2,1.101053e+12,야간,6.5,1.027724e+10,1764.408974,61.470100,121.414377,121.163764,149.776303,128.670836,...,71.042475,76.022764,112.850813,159.291275,161.645022,146.139087,109.901028,139.404304,2.020092e+07,12.0
3,1.101053e+12,주간,6.5,1.027724e+10,1832.894163,61.319222,123.690007,132.924901,155.542896,127.699121,...,76.622695,89.481100,131.688482,162.479824,167.957336,149.813576,110.270688,135.063465,2.020092e+07,12.0
4,1.101053e+12,야간,6.5,1.027724e+10,1452.311676,55.484400,87.342710,90.575006,122.134804,96.905488,...,63.040125,67.332653,88.939506,123.417471,147.285640,121.098894,90.373848,117.154164,2.020092e+07,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38301,1.125074e+12,주간,6.5,1.086013e+10,403.320837,11.543960,27.028737,38.233187,32.014706,24.709640,...,15.896319,13.264515,33.850824,39.829716,31.353491,30.157842,24.642735,29.238937,2.020092e+07,12.0
38302,1.125074e+12,야간,6.5,1.086013e+10,305.546608,8.669461,20.257712,32.648029,25.610360,15.864889,...,11.684112,9.408664,25.207539,31.850171,21.395442,21.017573,16.438356,19.500992,2.020092e+07,12.0
38303,1.125074e+12,주간,6.5,1.086013e+10,172.678033,3.021462,9.754029,15.770847,12.042118,7.604802,...,5.772578,3.921587,12.493357,16.367205,11.989567,10.985146,8.429517,12.462011,2.020092e+07,12.0
38304,1.125074e+12,야간,6.5,1.086013e+10,145.214865,3.418019,6.416460,10.127457,8.445387,8.237853,...,4.264432,3.990960,9.722087,9.549938,8.864500,11.883691,9.033534,9.775960,2.020092e+07,12.0
38305,1.125074e+12,주간,6.5,1.086013e+10,90.445134,1.149890,2.249909,4.296394,2.680868,2.567701,...,1.789345,1.124568,3.012896,3.252321,4.033656,4.843368,3.327762,5.154094,2.020092e+07,12.0

In [21]:
data2['집계구코드'].value_counts()#집계구 누락유무 확인

1.101053e+12    2
1.119056e+12    2
1.119056e+12    2
1.119056e+12    2
1.119056e+12    2
               ..
1.111064e+12    2
1.111064e+12    2
1.111064e+12    2
1.111064e+12    2
1.125074e+12    2
Name: 집계구코드, Length: 19153, dtype: int64

In [23]:
data3=data2.drop('월',axis=1)#불필요한 컬럼 제거

In [24]:
data3.to_csv('20년 평균 집계구 인원.csv',encoding='cp949')#데이터 저장