In [1]:
import numpy as np#넘파이 호출
import pandas as pd#판다스 호출
import seaborn as sns#seaborn 호출
import matplotlib.pyplot as plt#파이 플롯 추가
plt.rcParams['font.family'] ='Malgun Gothic'#한글깨짐 방지

plt.rcParams['axes.unicode_minus'] =False

In [2]:
data=pd.read_csv("인적사항 전처리2.csv",encoding='cp949')#데이터 로드

In [3]:
data.head()#데이터 확인

,Unnamed: 0,사고일시,요일,노면상태,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,나이,연령대,월,사고시간대
0,0,2007년 1월 11일 01시,4,포장 - 건조,맑음,단일로 - 기타,승용,남,51세,0.0,51세,경상,51.0,50,1,1
1,1,2007년 2월 14일 20시,3,포장 - 건조,맑음,단일로 - 기타,승용,남,40세,0.0,70세,사망,70.0,70,2,20
2,2,2008년 3월 5일 00시,3,포장 - 건조,맑음,단일로 - 기타,승용,남,57세,0.0,57세,중상,57.0,50,3,0
3,3,2008년 3월 19일 15시,3,포장 - 건조,맑음,단일로 - 기타,승용,남,63세,0.0,62세,중상,62.0,60,3,15
4,4,2008년 4월 7일 16시,1,포장 - 건조,맑음,단일로 - 횡단보도부근,이륜,남,40세,0.0,85세,경상,85.0,80,4,16

In [4]:
data=data.drop('Unnamed: 0',axis=1)#불필요한 컬럼 제거

In [5]:
data.head(5) # 데이터 재로드

,사고일시,요일,노면상태,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,나이,연령대,월,사고시간대
0,2007년 1월 11일 01시,4,포장 - 건조,맑음,단일로 - 기타,승용,남,51세,0.0,51세,경상,51.0,50,1,1
1,2007년 2월 14일 20시,3,포장 - 건조,맑음,단일로 - 기타,승용,남,40세,0.0,70세,사망,70.0,70,2,20
2,2008년 3월 5일 00시,3,포장 - 건조,맑음,단일로 - 기타,승용,남,57세,0.0,57세,중상,57.0,50,3,0
3,2008년 3월 19일 15시,3,포장 - 건조,맑음,단일로 - 기타,승용,남,63세,0.0,62세,중상,62.0,60,3,15
4,2008년 4월 7일 16시,1,포장 - 건조,맑음,단일로 - 횡단보도부근,이륜,남,40세,0.0,85세,경상,85.0,80,4,16

In [6]:
data.info()#데이터 컬럼과 널값 유뮤 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9130 entries, 0 to 9129
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   사고일시        9130 non-null   object
 1   요일          9130 non-null   int64
 2   노면상태        9130 non-null   object
 3   기상상태        9130 non-null   object
 4   도로형태        9130 non-null   object
 5   가해운전자 차종    9130 non-null   object
 6   가해운전자 성별    9130 non-null   object
 7   가해운전자 연령    9130 non-null   object
 8   피해운전자 성별    9130 non-null   float64
 9   피해운전자 연령    9130 non-null   object
 10  피해운전자 상해정도  9130 non-null   object
 11  나이          9130 non-null   float64
 12  연령대         9130 non-null   int64
 13  월           9130 non-null   int64
 14  사고시간대       9130 non-null   int64
dtypes: float64(2), int64(4), object(9)
memory usage: 1.0+ MB

In [7]:
주간야간=[]#주간야간 대체하기 위해

In [8]:
data["사고시간대"]#사고시간대를 주간 야간으로

0        1
1       20
2        0
3       15
4       16
        ..
9125    15
9126    22
9127    23
9128     1
9129    20
Name: 사고시간대, Length: 9130, dtype: int64

In [9]:
for i in data['사고시간대']:#19~5시를 야간 6시~18시를 주간
    if i>=6 and i<=18:
        주간야간.append('주간')
    else:
        주간야간.append('야간')

In [10]:
주간야간#시간대의 주야간 확인

['야간',
 '야간',
 '야간',
 '주간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '야간',
 '주간',
 '야간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '야간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '야간',
 '주간',
 '주간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '주간',
 '주간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '주간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '야간',
 '주간',
 '야간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '주간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '야간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '주간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '야간',
 '야간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '야간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '야간',
 '야간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '주간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '주간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '주간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '주간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '주간',
 '주간',
 '야간',
 '야간',
 '야간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '주간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '주간',
 '주간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '야간',
 '주간',
 '주간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '야간',
 '주간',
 '야간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '야간',
 '주간',
 '주간',
 '야간',
 '주간',
 '야간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '주간',
 '주간',
 '주간',
 '주간',
 '주간',
 '야간',
 '야간',
 '주간',
 '야간',
 '주간',
 '주간',
 ...]

In [11]:
data["주간야간"]=주간야간#새로운 컬럼생성

In [12]:
data.head()

,사고일시,요일,노면상태,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,나이,연령대,월,사고시간대,주간야간
0,2007년 1월 11일 01시,4,포장 - 건조,맑음,단일로 - 기타,승용,남,51세,0.0,51세,경상,51.0,50,1,1,야간
1,2007년 2월 14일 20시,3,포장 - 건조,맑음,단일로 - 기타,승용,남,40세,0.0,70세,사망,70.0,70,2,20,야간
2,2008년 3월 5일 00시,3,포장 - 건조,맑음,단일로 - 기타,승용,남,57세,0.0,57세,중상,57.0,50,3,0,야간
3,2008년 3월 19일 15시,3,포장 - 건조,맑음,단일로 - 기타,승용,남,63세,0.0,62세,중상,62.0,60,3,15,주간
4,2008년 4월 7일 16시,1,포장 - 건조,맑음,단일로 - 횡단보도부근,이륜,남,40세,0.0,85세,경상,85.0,80,4,16,주간

In [13]:
data=data.drop("사고시간대",axis=1)#사고시간대와 주야간이 겹처 중복제거

In [14]:
data.head()

,사고일시,요일,노면상태,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,나이,연령대,월,주간야간
0,2007년 1월 11일 01시,4,포장 - 건조,맑음,단일로 - 기타,승용,남,51세,0.0,51세,경상,51.0,50,1,야간
1,2007년 2월 14일 20시,3,포장 - 건조,맑음,단일로 - 기타,승용,남,40세,0.0,70세,사망,70.0,70,2,야간
2,2008년 3월 5일 00시,3,포장 - 건조,맑음,단일로 - 기타,승용,남,57세,0.0,57세,중상,57.0,50,3,야간
3,2008년 3월 19일 15시,3,포장 - 건조,맑음,단일로 - 기타,승용,남,63세,0.0,62세,중상,62.0,60,3,주간
4,2008년 4월 7일 16시,1,포장 - 건조,맑음,단일로 - 횡단보도부근,이륜,남,40세,0.0,85세,경상,85.0,80,4,주간

In [15]:
계절=[]#월을 계절로
for i in data['월']:
        if i>=3 and i<=5:
            계절.append("봄")
        elif i>=6 and i<=8:
            계절.append("여름")
        elif i>=9 and i<=11:
            계절.append("가을")
        else:
             계절.append("겨울")

In [16]:
data['도로형태'].str.split('-')#도로형태를 단일로 교차로 기타로 구분

0           [단일로 ,  기타]
1           [단일로 ,  기타]
2           [단일로 ,  기타]
3           [단일로 ,  기타]
4       [단일로 ,  횡단보도부근]
             ...
9125        [단일로 ,  기타]
9126        [단일로 ,  기타]
9127     [교차로 ,  교차로부근]
9128      [교차로 ,  교차로안]
9129        [단일로 ,  기타]
Name: 도로형태, Length: 9130, dtype: object

In [17]:
도로구분=[]#도로형태
도로구분1=[]
for i in range(len(data['도로형태'])):
    도로구분.append(data['도로형태'].str.split('-')[i][0])
    도로구분1.append(data['도로형태'].str.split('-')[i][1])

In [18]:
data['계절']=계절
data['도로구분']=도로구분
data['도로구분1']=도로구분1
#각 새로운 컬럼 생성

In [19]:
data.head()

,사고일시,요일,노면상태,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,나이,연령대,월,주간야간,계절,도로구분,도로구분1
0,2007년 1월 11일 01시,4,포장 - 건조,맑음,단일로 - 기타,승용,남,51세,0.0,51세,경상,51.0,50,1,야간,겨울,단일로,기타
1,2007년 2월 14일 20시,3,포장 - 건조,맑음,단일로 - 기타,승용,남,40세,0.0,70세,사망,70.0,70,2,야간,겨울,단일로,기타
2,2008년 3월 5일 00시,3,포장 - 건조,맑음,단일로 - 기타,승용,남,57세,0.0,57세,중상,57.0,50,3,야간,봄,단일로,기타
3,2008년 3월 19일 15시,3,포장 - 건조,맑음,단일로 - 기타,승용,남,63세,0.0,62세,중상,62.0,60,3,주간,봄,단일로,기타
4,2008년 4월 7일 16시,1,포장 - 건조,맑음,단일로 - 횡단보도부근,이륜,남,40세,0.0,85세,경상,85.0,80,4,주간,봄,단일로,횡단보도부근

In [20]:
포장구분=[]#도로형태
노면구분=[]#노면구분
for i in range(len(data['노면상태'])):
    포장구분.append(data['노면상태'].str.split('-')[i][0])
    노면구분.append(data['노면상태'].str.split('-')[i][1])

In [21]:
data['포장구분']=포장구분
data['노면구분']=노면구분

In [22]:
data['도로구분'].value_counts()

단일로     6831
교차로     2124
기타       172
주차장        2
미분류        1
Name: 도로구분, dtype: int64

In [23]:
data.loc[data["도로구분"]=='주차장']
data.loc[data["도로구분"]=='미분류 ']
#주차장 미분류를 기타로

,사고일시,요일,노면상태,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,나이,연령대,월,주간야간,계절,도로구분,도로구분1,포장구분,노면구분
7191,2016년 12월 20일 02시,2,포장 - 건조,맑음,미분류 - 미분류,승용,남,22세,0.0,35세,중상,35.0,30,12,야간,겨울,미분류,미분류,포장,건조

In [24]:
data.loc[data["도로구분"]=='주차장 ','도로구분']='기타 '
data.loc[data["도로구분"]=='미분류 ','도로구분']='기타 '
#주차장 미분류를 기타로 합치기

In [31]:
data['도로구분'].value_counts()

단일로     6831
교차로     2124
기타       175
Name: 도로구분, dtype: int64

In [33]:
data.head()

,사고일시,요일,노면상태,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,나이,연령대,월,주간야간,계절,도로구분,도로구분1,포장구분,노면구분
0,2007년 1월 11일 01시,4,포장 - 건조,맑음,단일로 - 기타,승용,남,51세,0.0,51세,경상,51.0,50,1,야간,겨울,단일로,기타,포장,건조
1,2007년 2월 14일 20시,3,포장 - 건조,맑음,단일로 - 기타,승용,남,40세,0.0,70세,사망,70.0,70,2,야간,겨울,단일로,기타,포장,건조
2,2008년 3월 5일 00시,3,포장 - 건조,맑음,단일로 - 기타,승용,남,57세,0.0,57세,중상,57.0,50,3,야간,봄,단일로,기타,포장,건조
3,2008년 3월 19일 15시,3,포장 - 건조,맑음,단일로 - 기타,승용,남,63세,0.0,62세,중상,62.0,60,3,주간,봄,단일로,기타,포장,건조
4,2008년 4월 7일 16시,1,포장 - 건조,맑음,단일로 - 횡단보도부근,이륜,남,40세,0.0,85세,경상,85.0,80,4,주간,봄,단일로,횡단보도부근,포장,건조

In [34]:
data['가해운전자 차종'].value_counts()

승용             6053
승합             1004
이륜              873
화물              690
원동기             293
기타불명             85
자전거              71
건설기계             33
특수               21
개인형이동수단(PM)       7
Name: 가해운전자 차종, dtype: int64

In [35]:
data

,사고일시,요일,노면상태,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,나이,연령대,월,주간야간,계절,도로구분,도로구분1,포장구분,노면구분
0,2007년 1월 11일 01시,4,포장 - 건조,맑음,단일로 - 기타,승용,남,51세,0.0,51세,경상,51.0,50,1,야간,겨울,단일로,기타,포장,건조
1,2007년 2월 14일 20시,3,포장 - 건조,맑음,단일로 - 기타,승용,남,40세,0.0,70세,사망,70.0,70,2,야간,겨울,단일로,기타,포장,건조
2,2008년 3월 5일 00시,3,포장 - 건조,맑음,단일로 - 기타,승용,남,57세,0.0,57세,중상,57.0,50,3,야간,봄,단일로,기타,포장,건조
3,2008년 3월 19일 15시,3,포장 - 건조,맑음,단일로 - 기타,승용,남,63세,0.0,62세,중상,62.0,60,3,주간,봄,단일로,기타,포장,건조
4,2008년 4월 7일 16시,1,포장 - 건조,맑음,단일로 - 횡단보도부근,이륜,남,40세,0.0,85세,경상,85.0,80,4,주간,봄,단일로,횡단보도부근,포장,건조
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9125,2020년 9월 14일 15시,1,포장 - 건조,맑음,단일로 - 기타,승합,남,74세,1.0,76세,중상,76.0,70,9,주간,가을,단일로,기타,포장,건조
9126,2020년 9월 23일 22시,3,포장 - 건조,맑음,단일로 - 기타,이륜,남,19세,1.0,59세,중상,59.0,50,9,야간,가을,단일로,기타,포장,건조
9127,2020년 10월 10일 23시,6,포장 - 건조,맑음,교차로 - 교차로부근,승용,여,37세,0.0,39세,경상,39.0,30,10,야간,가을,교차로,교차로부근,포장,건조
9128,2020년 11월 24일 01시,2,포장 - 건조,흐림,교차로 - 교차로안,승용,남,54세,0.0,58세,경상,58.0,50,11,야간,가을,교차로,교차로안,포장,건조
9129,2020년 12월 4일 20시,5,포장 - 건조,맑음,단일로 - 기타,이륜,남,43세,0.0,50세,경상,50.0,50,12,야간,겨울,단일로,기타,포장,건조

In [36]:
data.head()

,사고일시,요일,노면상태,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,나이,연령대,월,주간야간,계절,도로구분,도로구분1,포장구분,노면구분
0,2007년 1월 11일 01시,4,포장 - 건조,맑음,단일로 - 기타,승용,남,51세,0.0,51세,경상,51.0,50,1,야간,겨울,단일로,기타,포장,건조
1,2007년 2월 14일 20시,3,포장 - 건조,맑음,단일로 - 기타,승용,남,40세,0.0,70세,사망,70.0,70,2,야간,겨울,단일로,기타,포장,건조
2,2008년 3월 5일 00시,3,포장 - 건조,맑음,단일로 - 기타,승용,남,57세,0.0,57세,중상,57.0,50,3,야간,봄,단일로,기타,포장,건조
3,2008년 3월 19일 15시,3,포장 - 건조,맑음,단일로 - 기타,승용,남,63세,0.0,62세,중상,62.0,60,3,주간,봄,단일로,기타,포장,건조
4,2008년 4월 7일 16시,1,포장 - 건조,맑음,단일로 - 횡단보도부근,이륜,남,40세,0.0,85세,경상,85.0,80,4,주간,봄,단일로,횡단보도부근,포장,건조

In [ ]:
#노면상태 기상상태 의미없음 가해 일단 제외 계절 도로구분 주간야간 인코딩 상해가 종속
#y포함 7개

In [37]:
data['주간야간'].value_counts()

야간    4845
주간    4285
Name: 주간야간, dtype: int64

In [38]:
from sklearn.preprocessing import OneHotEncoder#원핫인코딩 호출

In [39]:
edu_data=data[['요일','피해운전자 성별','연령대','가해운전자 차종','주간야간','계절','도로구분','피해운전자 상해정도']]
#독립성 검정시 유의미한 변수만 호출

In [40]:
edu_data.head()
#데이터 확인

   요일  피해운전자 성별  연령대 가해운전자 차종 주간야간  계절  도로구분 피해운전자 상해정도
0   4       0.0   50       승용   야간  겨울  단일로          경상
1   3       0.0   70       승용   야간  겨울  단일로          사망
2   3       0.0   50       승용   야간   봄  단일로          중상
3   3       0.0   60       승용   주간   봄  단일로          중상
4   1       0.0   80       이륜   주간   봄  단일로          경상

In [41]:
 data['요일'].value_counts()
#요일의 갯수 확인

5    1449
2    1362
6    1360
4    1353
3    1312
1    1220
7    1074
Name: 요일, dtype: int64

In [42]:
요일구분=[]#평일 0 주말 1 라벨인코딩
for i in edu_data['요일']:
    if i==6 or i==7:
        요일구분.append(1)
    else:
        요일구분.append(0)

In [43]:
edu_data['요일']=요일구분#라벨인코딩 적용

C:\Users\user\AppData\Local\Temp\ipykernel_6548\3659345089.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edu_data['요일']=요일구분

In [44]:
edu_data['요일'].value_counts()

0    6696
1    2434
Name: 요일, dtype: int64

In [45]:
edu_data

      요일  피해운전자 성별  연령대 가해운전자 차종 주간야간  계절  도로구분 피해운전자 상해정도
0      0       0.0   50       승용   야간  겨울  단일로          경상
1      0       0.0   70       승용   야간  겨울  단일로          사망
2      0       0.0   50       승용   야간   봄  단일로          중상
3      0       0.0   60       승용   주간   봄  단일로          중상
4      0       0.0   80       이륜   주간   봄  단일로          경상
...   ..       ...  ...      ...  ...  ..   ...        ...
9125   0       1.0   70       승합   주간  가을  단일로          중상
9126   0       1.0   50       이륜   야간  가을  단일로          중상
9127   1       0.0   30       승용   야간  가을  교차로          경상
9128   0       0.0   50       승용   야간  가을  교차로          경상
9129   0       0.0   50       이륜   야간  겨울  단일로          경상

[9130 rows x 8 columns]

In [46]:
edu_data.info()#데이터 컬럼과 널값 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9130 entries, 0 to 9129
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   요일          9130 non-null   int64
 1   피해운전자 성별    9130 non-null   float64
 2   연령대         9130 non-null   int64
 3   가해운전자 차종    9130 non-null   object
 4   주간야간        9130 non-null   object
 5   계절          9130 non-null   object
 6   도로구분        9130 non-null   object
 7   피해운전자 상해정도  9130 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 570.8+ KB

In [47]:
edu_data['주간야간'] = edu_data['주간야간'].map({'야간':1,'주간':0})
#주간야간 데이터 라벨 인코딩 실시

C:\Users\user\AppData\Local\Temp\ipykernel_6548\173710203.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edu_data['주간야간'] = edu_data['주간야간'].map({'야간':1,'주간':0})

In [48]:
edu_data.head()

   요일  피해운전자 성별  연령대 가해운전자 차종  주간야간  계절  도로구분 피해운전자 상해정도
0   0       0.0   50       승용     1  겨울  단일로          경상
1   0       0.0   70       승용     1  겨울  단일로          사망
2   0       0.0   50       승용     1   봄  단일로          중상
3   0       0.0   60       승용     0   봄  단일로          중상
4   0       0.0   80       이륜     0   봄  단일로          경상

In [49]:
eud1=pd.get_dummies(data["계절"])#범주형인 계절 데이터 원핫인코딩

In [50]:
eud2=pd.concat([edu_data,eud1],axis=1)#원데이터는 원핫데이터 범주와 합치기

In [51]:
eud2#합친데이터 확인

      요일  피해운전자 성별  연령대 가해운전자 차종  주간야간  계절  도로구분 피해운전자 상해정도  가을  겨울  봄  여름
0      0       0.0   50       승용     1  겨울  단일로          경상   0   1  0   0
1      0       0.0   70       승용     1  겨울  단일로          사망   0   1  0   0
2      0       0.0   50       승용     1   봄  단일로          중상   0   0  1   0
3      0       0.0   60       승용     0   봄  단일로          중상   0   0  1   0
4      0       0.0   80       이륜     0   봄  단일로          경상   0   0  1   0
...   ..       ...  ...      ...   ...  ..   ...        ...  ..  .. ..  ..
9125   0       1.0   70       승합     0  가을  단일로          중상   1   0  0   0
9126   0       1.0   50       이륜     1  가을  단일로          중상   1   0  0   0
9127   1       0.0   30       승용     1  가을  교차로          경상   1   0  0   0
9128   0       0.0   50       승용     1  가을  교차로          경상   1   0  0   0
9129   0       0.0   50       이륜     1  겨울  단일로          경상   0   1  0   0

[9130 rows x 12 columns]

In [52]:
eud3=pd.get_dummies(data["도로구분"])# 도로구분을 원핫 인코딩 합니다
encoding_data=pd.concat([eud2,eud3],axis=1)#원핫과 본데이터를 합치기
encoding_data

,요일,피해운전자 성별,연령대,가해운전자 차종,주간야간,계절,도로구분,피해운전자 상해정도,가을,겨울,봄,여름,교차로,기타,단일로
0,0,0.0,50,승용,1,겨울,단일로,경상,0,1,0,0,0,0,1
1,0,0.0,70,승용,1,겨울,단일로,사망,0,1,0,0,0,0,1
2,0,0.0,50,승용,1,봄,단일로,중상,0,0,1,0,0,0,1
3,0,0.0,60,승용,0,봄,단일로,중상,0,0,1,0,0,0,1
4,0,0.0,80,이륜,0,봄,단일로,경상,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9125,0,1.0,70,승합,0,가을,단일로,중상,1,0,0,0,0,0,1
9126,0,1.0,50,이륜,1,가을,단일로,중상,1,0,0,0,0,0,1
9127,1,0.0,30,승용,1,가을,교차로,경상,1,0,0,0,1,0,0
9128,0,0.0,50,승용,1,가을,교차로,경상,1,0,0,0,1,0,0
9129,0,0.0,50,이륜,1,겨울,단일로,경상,0,1,0,0,0,0,1

In [53]:
encoding_data=encoding_data.drop(['계절','도로구분','피해운전자 상해정도'],axis=1)# 범주형 데이터가 있는 컬럼제거

In [54]:
encoding_data["피해운전자 상해정도"]=data['피해운전자 상해정도']#데이터 상해정도 입력

In [55]:
encoding_data

,요일,피해운전자 성별,연령대,가해운전자 차종,주간야간,가을,겨울,봄,여름,교차로,기타,단일로,피해운전자 상해정도
0,0,0.0,50,승용,1,0,1,0,0,0,0,1,경상
1,0,0.0,70,승용,1,0,1,0,0,0,0,1,사망
2,0,0.0,50,승용,1,0,0,1,0,0,0,1,중상
3,0,0.0,60,승용,0,0,0,1,0,0,0,1,중상
4,0,0.0,80,이륜,0,0,0,1,0,0,0,1,경상
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9125,0,1.0,70,승합,0,1,0,0,0,0,0,1,중상
9126,0,1.0,50,이륜,1,1,0,0,0,0,0,1,중상
9127,1,0.0,30,승용,1,1,0,0,0,1,0,0,경상
9128,0,0.0,50,승용,1,1,0,0,0,1,0,0,경상
9129,0,0.0,50,이륜,1,0,1,0,0,0,0,1,경상

In [57]:
encoding_data['가해운전자 차종'].value_counts()#가해 운전자 차종 확인

승용             6053
승합             1004
이륜              873
화물              690
원동기             293
기타불명             85
자전거              71
건설기계             33
특수               21
개인형이동수단(PM)       7
Name: 가해운전자 차종, dtype: int64

In [59]:
encoding_data.loc[encoding_data['가해운전자 차종']=='자전거','가해운전자 차종']='이륜'
encoding_data.loc[encoding_data['가해운전자 차종']=='개인형이동수단(PM)','가해운전자 차종']='이륜'
encoding_data.loc[encoding_data['가해운전자 차종']=='화물','가해운전자 차종']='특수차'
encoding_data.loc[encoding_data['가해운전자 차종']=='원동기','가해운전자 차종']='특수차'
encoding_data.loc[encoding_data['가해운전자 차종']=='건설기계','가해운전자 차종']='특수차'
encoding_data.loc[encoding_data['가해운전자 차종']=='기타불명','가해운전자 차종']='기타차량'
encoding_data.loc[encoding_data['가해운전자 차종']=='특수','가해운전자 차종']='기타차량'
## 자전거 개인형 화물수단은 이륜이기 때문에 이륜으로 지정
## 화물 원동기 건설기계는 특수로 묶어 하나의 차량으로 지정
## 기타불명 특수는 특수차의 범위가 크기 때문에 기타차량으로 지정하였습니다

In [60]:
encoding_data['가해운전자 차종'].value_counts()

승용      6053
특수차     1016
승합      1004
이륜       951
기타차량     106
Name: 가해운전자 차종, dtype: int64

In [61]:
encoding_data#데이터 확인

,요일,피해운전자 성별,연령대,가해운전자 차종,주간야간,가을,겨울,봄,여름,교차로,기타,단일로,피해운전자 상해정도
0,0,0.0,50,승용,1,0,1,0,0,0,0,1,경상
1,0,0.0,70,승용,1,0,1,0,0,0,0,1,사망
2,0,0.0,50,승용,1,0,0,1,0,0,0,1,중상
3,0,0.0,60,승용,0,0,0,1,0,0,0,1,중상
4,0,0.0,80,이륜,0,0,0,1,0,0,0,1,경상
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9125,0,1.0,70,승합,0,1,0,0,0,0,0,1,중상
9126,0,1.0,50,이륜,1,1,0,0,0,0,0,1,중상
9127,1,0.0,30,승용,1,1,0,0,0,1,0,0,경상
9128,0,0.0,50,승용,1,1,0,0,0,1,0,0,경상
9129,0,0.0,50,이륜,1,0,1,0,0,0,0,1,경상

In [62]:
eud3=pd.get_dummies(encoding_data["가해운전자 차종"])#차량 원핫인코딩 실시

In [63]:
eud3#원핫 확인

      기타차량  승용  승합  이륜  특수차
0        0   1   0   0    0
1        0   1   0   0    0
2        0   1   0   0    0
3        0   1   0   0    0
4        0   0   0   1    0
...    ...  ..  ..  ..  ...
9125     0   0   1   0    0
9126     0   0   0   1    0
9127     0   1   0   0    0
9128     0   1   0   0    0
9129     0   0   0   1    0

[9130 rows x 5 columns]

In [64]:
encoding_data2=pd.concat([encoding_data,eud3],axis=1)#원핫인코딩 데이터 설계

In [65]:
encoding_data2#원핫데이터 결합 확인

,요일,피해운전자 성별,연령대,가해운전자 차종,주간야간,가을,겨울,봄,여름,교차로,기타,단일로,피해운전자 상해정도,기타차량,승용,승합,이륜,특수차
0,0,0.0,50,승용,1,0,1,0,0,0,0,1,경상,0,1,0,0,0
1,0,0.0,70,승용,1,0,1,0,0,0,0,1,사망,0,1,0,0,0
2,0,0.0,50,승용,1,0,0,1,0,0,0,1,중상,0,1,0,0,0
3,0,0.0,60,승용,0,0,0,1,0,0,0,1,중상,0,1,0,0,0
4,0,0.0,80,이륜,0,0,0,1,0,0,0,1,경상,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9125,0,1.0,70,승합,0,1,0,0,0,0,0,1,중상,0,0,1,0,0
9126,0,1.0,50,이륜,1,1,0,0,0,0,0,1,중상,0,0,0,1,0
9127,1,0.0,30,승용,1,1,0,0,0,1,0,0,경상,0,1,0,0,0
9128,0,0.0,50,승용,1,1,0,0,0,1,0,0,경상,0,1,0,0,0
9129,0,0.0,50,이륜,1,0,1,0,0,0,0,1,경상,0,0,0,1,0

In [66]:
encoding_data2["피해운전자 상해정도1"]=encoding_data2['피해운전자 상해정도']#데이터 확인

In [67]:
encoding_data2=encoding_data2.drop(['피해운전자 상해정도','가해운전자 차종'],axis=1)#중복 컬럼 제거

In [68]:
encoding_data2.rename(columns={'피해운전자 상해정도1':'피해운전자 상해정도'},inplace=True)#데이터 리네임

In [69]:
encoding_data2

,요일,피해운전자 성별,연령대,주간야간,가을,겨울,봄,여름,교차로,기타,단일로,기타차량,승용,승합,이륜,특수차,피해운전자 상해정도
0,0,0.0,50,1,0,1,0,0,0,0,1,0,1,0,0,0,경상
1,0,0.0,70,1,0,1,0,0,0,0,1,0,1,0,0,0,사망
2,0,0.0,50,1,0,0,1,0,0,0,1,0,1,0,0,0,중상
3,0,0.0,60,0,0,0,1,0,0,0,1,0,1,0,0,0,중상
4,0,0.0,80,0,0,0,1,0,0,0,1,0,0,0,1,0,경상
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9125,0,1.0,70,0,1,0,0,0,0,0,1,0,0,1,0,0,중상
9126,0,1.0,50,1,1,0,0,0,0,0,1,0,0,0,1,0,중상
9127,1,0.0,30,1,1,0,0,0,1,0,0,0,1,0,0,0,경상
9128,0,0.0,50,1,1,0,0,0,1,0,0,0,1,0,0,0,경상
9129,0,0.0,50,1,0,1,0,0,0,0,1,0,0,0,1,0,경상

In [70]:
encoding_data2.to_csv('인적사항 인코딩.csv',encoding='cp949')#데이터 저장